*{
    margin: 5;
    padding: 5;
    text-decoration: none;
    /* list-style: none; */
}
body{
    background-color: aquamarine;
}
.botonsito{
    background-color: black;
    color: white;
    font-family: 'Prompt', sans-serif;
}
.formulario{
    font-family: 'Shadows Into Light', cursive;
}